# Ignore large folders
datasets/
figs/
oth/
samples/
samples_*/
tests/
tests_*/
gitignore_files_inside/
plots_analysis/

# Ignore temporary files
__pycache__/
*.pyc

# Ignore virtual environment
env/
venv/
